#chunk1, #chunk2, #chunk3 {
  overflow: auto;
  padding: 10%;
  background-clip: border-box;
  margin: auto;
}
#chunk1 {
  background-color: #ffffff;
  float: right;
}

#chunk2 {
  background-color: #516B9A;
}
#chunk3 {
  background: linear-gradient(#516B9A, #ffffff);
}
.text1, .text2, .text3 {
  width: 50%;
  box-sizing: border-box;
  padding: 5%;
  font: 0.9em "arial";
}

.text2, .text3 {
  color: #ffffff;
}
